registry=https://packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/

//registry.example.com/:username=66e2dcf58043c5959cd91058
//registry.example.com/:_password=_WgZH)O4vDvE
//registry.example.com/:always-auth=true
