registry=https://packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/

//packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/:username=66e2dcf58043c5959cd91058
//packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/:_password=X1dnWkgpTzR2RHZF
//packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/:always-auth=true
